        /* Navbar responsive  */
@media screen and (max-width: 576px) {

  .nav-container {
    padding: 0 20px;
  }

  .nav-logo {
    width: 137px;
    padding: 20px 0;
  }

  .nav-menu {
    display: none;
  }

  .nav-button {
    display: none;
  }

  .menu-icon {
    display: inline;
    width: 24px;
  }
 .menu-icon:hover{
    background-color: rgb(4, 54, 91);
 } 

  .menu-icon img {
    width: 80%;
  }
}
                   /* Hero */
                   
            @media screen and (max-width: 575px) {
.hero{
    width: 100%;
    
}
/* .hero-container{
  padding: 0 200px;
} */
  .hero-container {
    min-height: 100vh;
    padding: 0 20px;
    text-align: center;
  }

  .hero-mic {
   width: 200px;
   height: 200px;;
    margin-bottom: 25px;
  }

  .hero-mic img {
    width: 80px;
    height: 100px;
  }

  .hero-title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 10px;
  }

  .hero-desc {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 22px;
  }

  .two-button {
    flex-direction:row;
    width: 100%;
    gap: 8px;
  }

  .btn-left,
  .btn-right {
    width: 100%;
    justify-content: center;
    padding: 14px 0;
    font-size: 15px;
  }

  .btn-left img,
  .btn-right img {
    width: 10px;
    height: 10px;
  }
}

  /* About section  */
@media screen and (max-width: 576px) {
.about-container{
  padding: 0 20px;
}
  .about-container {
text-align: center;
width: 100%;
height: 700px;
align-items: center;
gap: 40;
  
  }

  .about-title {
    font-size: 38px;
    line-height: 34px;
    margin-bottom: 12px;
  }

  
  .about-description 
  {
    font-size: 16px;
    line-height: 22px;
    padding: 0;
    margin-bottom: 20px;
  }

  .hr-line {
    width: 100%;
    margin: 32px 0;
    opacity: 0.15;
  }

  
  .about-card-container {
display: grid;
grid-template-columns: repeat(2 ,1fr);
grid-template-rows: repeat(2, 12px);
font-size: 16px;
font-weight: 400;
letter-spacing: 0%;
text-align: center;
gap:70px 20px;
  }

  .card h3 {
    font-size: 40px;
    line-height: 20px;
    margin-bottom: 16px;
  }

  .card p {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

                    /* tech-wave  */
@media (max-width: 576px) {

  .tech-wave-container {
    padding: 0 20px;
  }

  .tech-wave-title {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .tech-wave-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 16px;
  }

  .tech-wave-card {
    padding: 24px;
    border-radius: 24px;
  }

  .tech-wave-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
  }

  .tech-wave-card h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .tech-wave-card p {
font-size: 16px;
font-weight: 400;
  }

  .headphone,
  .mobile,
  .loacation,
  .exclusive {
    grid-column: auto;
    grid-row: auto;
  }
}

                        /* Featured section */
@media screen and (max-width: 576px) {

  .featured-container {
    padding: 0 20px; 
  }

  .featured-title h2 {
    font-size: 32px;
    font-weight: 700;  
    padding-top: 60px;    
    margin-bottom: 24px;
  }

  .featured-grid {
    grid-template-columns: 1fr; 
    gap: 24px;
  }

  .featured-card {
    padding: 12px;        
  }

  
  .video-box iframe {
    width: 100%;       
    height: auto;          
    border-radius: 12px 12px 0 0;
  }

  .featured-card h3 {
    font-size: 20px;
    margin-top: 10px;
  }

  .featured-card p {
    font-size: 14px;
    line-height: 22px;
  }
}

         /* Meet the Host */
@media screen and (max-width: 576px) {
    .host {
        padding: 60px 0;
    }

    .host-container {
        padding: 0 20px;
    }

    .host-card {
        flex-direction: column;
        text-align: center;
        gap: 16px;
    }

    .host-image {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }

    .host-image img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    .host-content h3 {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .host-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .social-icon {
        justify-content: center;
        margin-top: 24px;
    }
}
              /* footer                 */
@media screen and (max-width: 576px) {
    /* .footer {
        padding: 40px 0;

    } */
.footer {
        padding: 40px 80px;
        background-image: url("../images/mfooter.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .footer-container {
        padding: 0 20px;
    }

    .footer-logo {
        margin-bottom: 24px;
    }

    .footer-logo img {
        width: 219px;
         height: 32px;
    }

    .footer-social {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 0 38px;
      ;
    }

    .footer-image {
        align-items: center;
        gap: 8px;
    }

    .footer-text {
font-size: 16px;
font-weight: 400;
    }
}