        /* Navbar responsive  */
@media screen and (max-width: 576px) {

  .nav-container {
    padding: 0 15px;
  }

  .nav-logo {
    width: 137px;
    padding: 20px 0;
  }

  .nav-menu {
    display: none;
  }

  .nav-button {
    display: none;
  }

  .menu-icon {
    display: inline;
    width: 24px;
  }
 .menu-icon:hover{
    background-color: rgb(4, 54, 91);
 } 

  .menu-icon img {
    width: 80%;
  }
}
                   /* Hero */
                   
            @media screen and (max-width: 575px) {
.hero{
    width: 100%;
    
}
  .hero-container {
    min-height: 100vh;
    padding: 90px 15px;
    text-align: center;
  }

  .hero-mic {
   width: 200px;
   height: 200px;;
    margin-bottom: 25px;
  }

  .hero-mic img {
    width: 80px;
    height: 100px;
  }

  .hero-title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 10px;
  }

  .hero-desc {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 22px;
  }

  .two-button {
    flex-direction:row;
    width: 100%;
    gap: 8px;
  }

  .btn-left,
  .btn-right {
    width: 100%;
    justify-content: center;
    padding: 14px 0;
    font-size: 15px;
  }

  .btn-left img,
  .btn-right img {
    width: 10px;
    height: 10px;
  }
}

  /* About section  */
@media screen and (max-width: 576px) {


  .about-container {
text-align: center;
width: 380px;
height: 700px;
align-items: center;
gap: 40;
  
  }

  .about-title {
    font-size: 38px;
    line-height: 34px;
    margin-bottom: 12px;
  }

  
  .about-description 
  {
    font-size: 16px;
    line-height: 22px;
    padding: 0;
    margin-bottom: 20px;
  }

  .hr-line {
    width: 100%;
    margin: 32px 0;
    opacity: 0.15;
  }

  
  .about-card-container {
display: grid;
grid-template-columns: repeat(2 ,1fr);
grid-template-rows: repeat(2, 12px);
font-size: 16px;
font-weight: 400;
letter-spacing: 0%;
text-align: center;
gap:70px 20px;
  }

  .card h3 {
    font-size: 40px;
    line-height: 20px;
    margin-bottom: 16px;
  }

  .card p {
    font-size: 16px;
    margin-bottom: 12px;
  }
}