* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  
}
                     /* shared style */
    .font-color{
        color: #ffffff;

    }                 
           /* navbar */
.navbar {
  width: 100%;
  background-color: #1a0b2efa;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;

}
.nav-logo{
    width: 219px;
    padding: 30px 0;
}
.nav-menu{
    display: flex;
    list-style: none;
    gap: 32px;

}
.nav-menu a{
    text-decoration: none;
    color: #ffffff;
}
.nav-menu a:hover {
  color: #ffffff20;
}
                   /* Button section */                
.nav-button{
     width: 135px;
     height: 44px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));

     color: white;
     padding: 12px 16px 12px 16px;
     font-size: 16px;
     font-weight: 600;
     border: none;
     cursor: pointer;
}
.nav-button:hover {
  transform: scale(1.08);
  box-shadow: 0 0 20px rgba(215, 184, 201, 0.6);
}

/* hamburger menu */
.menu-icon{
  display: none;
  font-size: 22px;
  color: #ffffff;
  cursor: pointer;
}

                       /* Hero section */
.hero{
  width: 100%;
  /* min-height: 100vh; */
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;     
  background-position: center;
}
.hero-container{
    max-width: 1200px;
  height: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.hero-mic{
  width: 350px;
  height: 350px;
  background-image: url("../images/hero-circle.png");
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;

}

.hero-mic:hover {
  animation: micShake 0.3s ease-in-out 10;
}

@keyframes micShake {
  0%   { transform: translateX(0); }
  20%  { transform: translateX(-6px); }
  40%  { transform: translateX(6px); }
  60%  { transform: translateX(-6px); }
  80%  { transform: translateX(6px); }
  100% { transform: translateX(0); }
}


.hero-mic img{
width: 180px;
height:65%;
align-items: center;

}

.hero-title{
  font-size: 60px;
font-weight: 800;
line-height: 73px;
align-items: center;
margin-bottom: 8px;
}
.hero-desc{
font-size: 16px;
font-weight: 400;
line-height: 19px;
margin-bottom: 24px;
opacity: 0.6;

}
           /* button */

.two-button{
  display: flex;
  gap: 16px;
}

.btn-left, .btn-right{
display: flex;
align-items: center;
padding: 12px 28px;
gap:5px;
border-radius: 10000px;
font-size: 16px;
font-weight: 600;
line-height: 19px;
color: #FFFFFF;
cursor: pointer;

}
.btn-left{
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));

  transition:.2s ease;
}
.btn-right{
  background: transparent;
border: 1px solid #0BE58A;
transition:.2s ease-in
}
                /* hover  */
.btn-left:hover {
  border-color: #eff2d9;        
  transform: translateY(-10px); 
}

 .btn-right:hover {
  border-color: #eff2d9;        
  transform: translateY(-10px); 
}



.btn-left .btn-right{
width: 20px;
height: 20px;
}
                          /* About section  */
.about {
    width: 100%;
    background-color: #1A0B2E;
    color: #ffffff;
    padding: 50px 0; 
}

.about-container{
  max-width: 1200px;
margin: 0 auto;
padding-top: 50px ;
text-align: center;
padding-bottom: 120px;
}
.about-card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}
.about-title{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.about-description{
font-size: 18px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
padding: 0 220px;
margin-bottom: 80px;
opacity: 0.6;

}
.hr-line{
border: 1px solid var(--#FFFFFF, rgba(255, 255, 255, 1));
opacity: 0.1;
margin-top: 80px;
}

.card h3{
color: #00FF88;
font-size: 48px;
font-weight: 900;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
margin-top: 80px;
margin-bottom: 16px;
}
.card p{
  opacity: 0.6;

}
                      /*  TechWave  */
  .tech-wave{
    background-color: #230E3D;
  }
  .tech-wave-container{
  max-width: 1200px;
  margin: 0 auto;
  
  }
  .tech-wave-title{
font-size: 48px;
font-weight: 700;
text-align: center;
padding-top: 40px;
margin-bottom: 40px;
  }

.tech-wave-grid{
display: grid;
grid-template-columns: repeat(3 ,1fr);
grid-template-rows: repeat(3, auto);
gap: 30px;
}
.tech-wave-card{
  /* background-color: #351165; */
border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
padding: 40px;

}
.tech-wave-icon{
width: 60px;
height: 60px;
margin-bottom: 16px;
}
.tech-wave-icon img{
  width: 100%;
  height: 100%;
}
.tech-wave-card h3{
font-size: 24px;
font-weight: 700;
line-height: 29px;
margin-bottom: 16px;
}
.tech-wave-card p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
opacity: 0.6;

}
                      /* span */
.headphone{
  grid-row: span 2;
}
.mobile{
  grid-column: span 2;
}
.loacation{
  grid-column: span 2;
}
.exclusive{
  grid-column: span 2;
}
                      /* Featured section  */
.featured {
  background-color: #1A0B2E;
} 
.featured-container{
  max-width: 1200px;
  margin: 0 auto;
}
.featured-title h2{
  font-size: 48px;
font-weight: 700;
text-align: center;
padding-top: 120px;
margin-bottom: 40px;
}     
.featured-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.featured-card{
 background-color: #250D44;
 border-radius: 15px;
 padding: 10px;
 
}

.video-box iframe {
width: 380px;
height: 214px;
border-radius: 24px 24px 0px 0px;
margin-bottom: 24px;
}

.featured-card h3{
font-size: 24px;
font-weight: 700;
margin-bottom: 12px;
}
.featured-card p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-bottom: 12px;
opacity: 0.6;

}

.time-container {
    display: flex;          
    align-items: center;    
    gap: 6px;               
    color: #00FF88;         
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;       
}

.time-container img {
    width: 20px;            
    height: 20px;
    object-fit: contain;
}
                      /* Meet the Host  */
.host{
  background-color: #1A0B2E;
  padding: 120px 0;
}
.host-container{
  max-width: 1200px;
  margin: 0 auto;
}
.host-title h2{
  font-size: 32px;
font-weight: 700;
text-align: center;
margin-bottom: 40px;
}
.host-card{
  background-color: #35116552;
  display: flex;
  align-items:center ;
  gap: 24px;
  border-radius: 40px;
  padding: 40px;
}
.host-image{
width: 200px;
height: 200px;
}
.host-image img{
  object-fit: cover;
}
.host-content h3{
font-size: 32px;
font-weight: 700;
margin-bottom: 16px;
}
.host-content p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-bottom: 16px;
opacity: 0.6;
}

.social-icon {
  display: flex;
  gap: 12px;       
  margin-top: 16px;
}


.social-link {
  width: 40px;          
  height: 40px;         
  border: 1px solid rgba(83, 60, 114, 1);
  border-radius: 50%;   
  
  display: flex;        
  justify-content: center; 
  align-items: center;     
  
  transition:.3s ease; 
}


.social-link img {
  width: 20px;      
  height: 20px;
  object-fit: contain;
}


.social-link:hover {
  border-color: #00FF88;        
  transform: translateY(-3px); 
  background-color: rgba(255, 255, 255, 0.1); 
}
                     /* Footer  */
     
footer {
  /* body                 */
   font-family: "Inter", sans-serif;
  color: #ffffff;
}  
.footer{
 background-image: url("../images/footer-bg.png");
  background-position: center;
    background-size: cover;
    padding: 120px 0 80px;
}
.footer-container{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
} 
.footer-logo{
  margin-bottom: 32px;
}
.footer-logo img{
width: 410px;
height: 60px;
}
.footer-social{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 56px;
} 

.footer-social span{
opacity: 0.8;   
font-size: 16px;
font-weight: 400;
opacity: 0.6
}
.footer-image{
  display: flex;
  align-items: center;
  gap: 8px;
} 
.footer-image img{
width: 24px;
height: 24px;
}
.footer-text {
  opacity: 0.8;   
font-size: 16px;
font-weight: 400;
opacity: 0.6;

}